<header class="workbench-header__wrapper">
    <div class="workbench-container workbench-header__container">
        <div class="workbench-header__block">
            <div class="workbench-header__logo truncate">My Logo</div>
            <p
                id="workbench-status-state"
                class="workbench-header__name truncate"
            ></p>

            <span
                id="workbench-status-text"
                class="workbench-header__status truncate"
            ></span>
        </div>

        <div class="workbench-header__block">
            <%- await include('./workbench-publish-dialog.ejs') %>

            <sl-tooltip content="Actions">
                <sl-icon-button
                    style="font-size: 1.25rem"
                    name="three-dots"
                    label="Actions"
                ></sl-icon-button>
            </sl-tooltip>

            <% if (user) { %>
            <sl-icon-button
                name="bell"
                label="Notifications"
                pill
            ></sl-icon-button>
            <sl-dropdown distance="12">
                <sl-avatar
                    type="button"
                    role="button"
                    slot="trigger"
                    initials="<%= user.username.substring(0,2) %>"
                    style="--size: 2.5rem"
                    label="User avatar"
                ></sl-avatar>

                <sl-menu style="width: 240px">
                    <sl-menu-item class="accent" value="profile">
                        <sl-icon name="person" slot="prefix"></sl-icon>
                        Профіль
                    </sl-menu-item>
                    <sl-menu-item class="accent" value="library">
                        <sl-icon name="book" slot="prefix"></sl-icon>
                        Бібліотека
                    </sl-menu-item>
                    <sl-menu-item class="accent" value="stories">
                        <sl-icon name="stickies" slot="prefix"></sl-icon>
                        Публікації
                    </sl-menu-item>
                    <sl-menu-item class="accent" value="stats">
                        <sl-icon name="bar-chart-line" slot="prefix"></sl-icon>
                        Статистика
                    </sl-menu-item>
                    <sl-divider></sl-divider>
                    <sl-menu-item value="settings">Налаштування</sl-menu-item>
                    <sl-menu-item value="recomendations">
                        Мої Рекомендації
                    </sl-menu-item>
                    <sl-menu-item value="about">Про проект</sl-menu-item>
                    <sl-menu-item value="help">Допомога</sl-menu-item>
                    <sl-divider></sl-divider>
                    <sl-menu-item>
                        Вийти
                        <br />
                        <small>
                            <%= user.username %>
                        </small>
                    </sl-menu-item>
                </sl-menu>
            </sl-dropdown>
            <% } %>
        </div>
    </div>
</header>
