<header class="workbench-header__wrapper">
    <div class="workbench-container workbench-header__container">
        <div class="workbench-header__block">
            <div class="workbench-header__logo">My Logo</div>
            <p class="workbench-header__name">Draft in Fagodfagod</p>

            <span class="workbench-header__status">Saved</span>
        </div>

        <div class="workbench-header__block">
            <sl-button size="small" variant="primary" pill>Publish</sl-button>
            <sl-tooltip content="Actions">
                <sl-icon-button
                    style="font-size: 1.25rem"
                    name="three-dots"
                    label="Actions"
                ></sl-icon-button>
            </sl-tooltip>

            <sl-icon-button
                style="font-size: 1.25rem"
                name="bell"
                label="Notifications"
            ></sl-icon-button>
            <sl-avatar style="--size: 2.5rem" label="User avatar"></sl-avatar>
        </div>
    </div>
</header>
