<!DOCTYPE html>
<html lang="en">
    <head>
        <%- await include('./partials/head.ejs') %>
        <title><%= title %></title>
    </head>

    <body>
        <div id="root" class="global-container">
            <%- await include(__renderTarget) %>
        </div>
        <%- await include('./partials/toasts.ejs') %>
    </body>
</html>
