<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <title><%= title %></title>
    </head>

    <body class="grid col-12">
        <%- include(__renderTarget) %>
    </body>
</html>
