<div id="editor"></div>

<style>
    .ql-editor {
        display: grid;
        padding: 48px 16px;
        place-items: center;
    }

    .ql-editor p,
    .ql-editor ol,
    .ql-editor ul,
    .ql-editor pre,
    .ql-editor blockquote,
    .ql-editor figure:not(.ql-outer),
    .ql-editor h1,
    .ql-editor h2,
    .ql-editor h3,
    .ql-editor h4,
    .ql-editor h5,
    .ql-editor h6 {
        width: 100%;
        max-width: 840px;
        padding: 0 16px;
        margin-left: 0;
        margin-right: 0;
        position: relative;
        text-wrap: pretty;
        box-sizing: border-box;
    }

    .ql-editor li {
        margin-left: 32px;
        margin-bottom: 16px;
        padding-left: 0;
    }

    .ql-editor ul {
        margin-bottom: 32px;
        list-style-type: none;
    }

    .ql-editor ol {
        margin-bottom: 32px;
        list-style-type: none;
    }

    .ql-editor blockquote {
        padding: 4px 16px !important;
        border-left: 3px solid var(--sl-color-neutral-700) !important;
        margin-bottom: 24px !important;
    }

    .ql-editor figure {
        display: grid;
        place-items: center;
    }

    .ql-editor figcaption:empty::before {
        content: attr(data-placeholder);
        color: var(--sl-color-neutral-500);
        pointer-events: none;
    }

    .ql-editor figure:hover > img {
        cursor: pointer;
        transition: all 128ms ease-in-out;
        outline: 4px solid var(--sl-color-primary-600);
    }

    .ql-editor p,
    pre,
    figure {
        margin-bottom: 24px !important;
    }

    .ql-editor p,
    ol,
    pre,
    li,
    blockquote {
        font-family: var(--plain-font);
        font-size: 18px;
    }

    .ql-editor h1 {
        font-family: var(--title-font), 'Times New Roman', Times, serif;
        font-size: var(--sl-font-size-3x-large);
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: 0;
        margin-bottom: 32px;
    }

    .ql-editor h2,
    h3,
    h4,
    h5 {
        font-weight: 700;
        line-height: 1.25;
        letter-spacing: 0;
        font-family: var(--plain-font);
        font-size: var(--sl-font-size-x-large) !important;
        margin-bottom: 24px;
    }

    .ql-editor *[ql-v-visible]::after {
        content: attr(ql-v-text);
        position: absolute;
        z-index: -1;
        transform: translateY(-100%);
        color: #ccc;
    }

    .ql-editor:focus-within h1::before,
    .ql-editor:focus-within h2::before {
        position: absolute;
        padding: 1em 0.5em 0 0.5em;
        left: 0;
        content: 'Title';
        transform: translate(-100%, -0.5em);
        font-size: var(--sl-font-size-small);
        font-family: var(--sl-font-sans);
        height: 100%;
        font-weight: normal;
        color: #ccc;
        border-right: 1px solid #ccc;
    }
</style>
