<header class="workbench-header__wrapper">
    <div class="workbench-header__container">
        <div class="workbench-header__block">
            <a href="/" class="workbench-header__logo">Postique</a>
        </div>

        <div class="workbench-header__block">
            <sl-button
                href="/new-story"
                class="ghost"
                size="medium"
                variant="text"
                pill
            >
                <sl-icon slot="prefix" name="pencil-square"></sl-icon>
                Написати
            </sl-button>
            <% if (user) { %>
            <sl-icon-button
                name="bell"
                label="Notifications"
                pill
            ></sl-icon-button>
            <sl-dropdown distance="12">
                <button class="slot" slot="trigger">
                    <sl-avatar
                        initials="<%= user.username.substring(0,2) %>"
                        style="--size: 2.5rem"
                        label="User avatar"
                    ></sl-avatar>
                </button>

                <sl-menu style="width: 240px">
                    <sl-menu-item class="accent" value="profile">
                        <sl-icon name="person" slot="prefix"></sl-icon>
                        Профіль
                    </sl-menu-item>
                    <sl-menu-item class="accent" value="library">
                        <sl-icon name="book" slot="prefix"></sl-icon>
                        Бібліотека
                    </sl-menu-item>
                    <a href="/me/posts/draft">
                        <sl-menu-item class="accent" value="stories">
                            <sl-icon name="stickies" slot="prefix"></sl-icon>
                            Публікації
                        </sl-menu-item>
                    </a>
                    <sl-menu-item class="accent" value="stats">
                        <sl-icon name="bar-chart-line" slot="prefix"></sl-icon>
                        Статистика
                    </sl-menu-item>
                    <sl-divider></sl-divider>
                    <sl-menu-item value="settings">Налаштування</sl-menu-item>
                    <sl-menu-item value="recomendations">
                        Мої Рекомендації
                    </sl-menu-item>
                    <sl-menu-item value="about">Про проект</sl-menu-item>
                    <sl-menu-item value="help">Допомога</sl-menu-item>
                    <sl-divider></sl-divider>
                    <sl-menu-item>
                        Вийти
                        <br />
                        <small>
                            <%= user.username %>
                        </small>
                    </sl-menu-item>
                </sl-menu>
            </sl-dropdown>
            <% } else { %>
            <sl-button href="/login" variant="primary" pill>
                <sl-icon slot="prefix" name="box-arrow-in-right"></sl-icon>
                Sign in
            </sl-button>
            <% } %>
        </div>
    </div>
</header>
