<div hx-swap-oob="beforeend:#toasts">
    <sl-alert variant="danger" duration="5000" closable>
        <sl-icon slot="icon" name="exclamation-octagon"></sl-icon>
        <strong><%= initiator %></strong>

        <br />
        <%= message %>
    </sl-alert>
</div>
