<section class="auth-container shadow rounded-4 d-flex">
    <div
        class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
        style="background-color: var(--gray-300)"
    ></div>
    <div class="col-md-6"><%- await include(__renderChild) %></div>
</section>
