<% stats.forEach((stat) => { %>
<div
    id="reactions-<%= stat.postId %>"
    class="post-card__reactions-count"
    hx-swap-oob="true"
>
    <sl-tooltip distance="18" class="item" content="Лайків">
        <div class="skeleton-flex-line">
            <sl-icon class="sm" fill="black" name="heart"></sl-icon>
            <%= stat.likesCount %>
        </div>
    </sl-tooltip>

    <sl-tooltip distance="18" class="item" content="Коментарів">
        <div class="skeleton-flex-line">
            <sl-icon class="sm filled" name="chat"></sl-icon>
            <%= stat.commentsCount %>
        </div>
    </sl-tooltip>

    <% if (withView) { %>
    <sl-tooltip distance="18" class="item" content="Переглядів">
        <div class="skeleton-flex-line">
            <sl-icon class="sm filled" name="eye"></sl-icon>
            <%= stat.viewsCount %>
        </div>
    </sl-tooltip>
    <% } %>
</div>
<% }) %>
