<% const postIds = JSON.stringify({ postIds: posts.map((p) => p.id) }); %>

<div style="padding-right: 80px">
    <sl-tab-group style="margin-bottom: 32px">
        <sl-tab slot="nav" panel="forYou" active>Для вас</sl-tab>
        <sl-tab slot="nav" panel="subs">Підписки</sl-tab>
        <sl-tab slot="nav" panel="programming">Програмування</sl-tab>
        <sl-tab slot="nav" panel="business">Бізнес</sl-tab>
    </sl-tab-group>

    <template
        hx-post="/r/interactions/stats"
        hx-vals="<%= postIds %>"
        hx-trigger="load"
        hx-target="#posts-list"
        hx-swap="none"
    ></template>

    <% if (user) { %>
    <template
        hx-post="/r/interactions/states"
        hx-vals="<%= postIds %>"
        hx-trigger="load"
        hx-target="#posts-list"
        hx-swap="none"
    ></template>
    <% } %>

    <ul id="posts-list" class="post-list">
        <%- await include('../post/post-detailed-list.ejs', { posts }) %>
    </ul>
</div>
