<main
    class="d-flex align-items-center justify-content-center vh-100 overflow-hidden"
>
    <div class="text-center">
        <h1 class="display-1 fw-bold"><%= status %></h1>
        <p class="fs-3">
            <span class="text-danger">Opps!</span> Looks like something went
            wrong
        </p>
        <p><%= message %></p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</main>
