<div x-data="{ len: <%= posts.length %> }">
    <% if (posts && posts.length > 0) { %>
    <sl-alert
        class="clear-history-alert"
        variant="primary"
        x-show="len > 0"
        open
    >
        <sl-icon slot="icon" name="info-circle"></sl-icon>
        <div class="clear-history-alert__content">
            <p>
                Ви можете очистити історію читання, щоб почати з чистого аркуша.
            </p>

            <sl-button
                slot="primaryAction"
                size="small"
                variant="neutral"
                pill
                hx-trigger="click"
                hx-delete="/r/views/history"
                hx-remove="#posts-list"
                hx-confirm="Ви впевнені, що хочете очистити вашу історію?"
                hx-on::after-request="if (!event.failed) Alpine.$data(this).len = 0"
            >
                Очистити
            </sl-button>
        </div>
    </sl-alert>

    <%- await include('../../../post/partials/posts-view.partial.ejs', { posts, __postListTemplate: '../post-history-list.ejs' }) %>
    <% } %>

    <div class="no-posts" x-show="len === 0">
        <sl-icon name="journal-x" size="large"></sl-icon>
        <p>Історія переглядів пуста</p>
    </div>
</div>
