.global-container {
    min-height: 100svh;
    max-width: 1336px;
    margin: 0 auto;
}

.mw-md {
    max-width: 360px;
}

.mw-lg {
    max-width: 100%;

    @media (min-width: 576px) {
        max-width: 416px;
    }
}
