@import 'variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'overrides.scss';

.global-container {
    min-height: 100svh;
    max-width: 1336px;
    margin: 0 auto;
}

.mw-md {
    max-width: 360px;
}

.mw-lg {
    max-width: 100%;

    @media (min-width: 576px) {
        max-width: 416px;
    }
}

.auth-container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    min-height: 650px;
    height: fit-content;
}
