<p id="error-email" class="invalid-feedback d-inline" hx-swap-oob="true">
    <% if (errors && errors.email) { %> <%= errors.email %> <% } %>
</p>

<p id="error-password" class="invalid-feedback d-inline" hx-swap-oob="true">
    <% if (errors && errors.password) { %> <%= errors.password %> <% } %>
</p>
