<div>
    <% if (bookmarks && bookmarks.length > 0) { %> <%- await
    include('../../post/partials/posts-view.partial.ejs', { posts:
    bookmarks.map((b) => b.post), __postListTemplate:
    '../post-bookmark-list.ejs' }) %>
    <% } %>

    <div class="no-posts" x-show="len === 0">
        <sl-icon name="journal-x" size="large"></sl-icon>
        <p>Ця колекція, на жаль, поки є пустою</p>
    </div>
</div>
