<div class="form-side">
    <div class="form-header">
        <h2>Реєстрація облікового запису</h2>
        <p>Будь ласка, введіть свої дані для реєстрації</p>
    </div>

    <form
        id="form"
        hx-post="/register"
        hx-target="this"
        hx-swap="none"
        class="login-form"
    >
        <input type="hidden" name="csrfToken" value="<%= csrfToken %>" />

        <div>
            <sl-input
                id="username"
                name="username"
                label="Ім'я користувача*"
                placeholder="Введіть бажане ім'я"
            >
                <sl-icon
                    class="font-size: 1.3rem;"
                    name="person-bounding-box"
                    slot="prefix"
                ></sl-icon>
            </sl-input>
            <small id="error-username" hidden></small>
        </div>

        <div>
            <sl-input
                id="email"
                name="email"
                label="Ел. Пошта*"
                placeholder="user@gmail.com"
            >
                <sl-icon
                    class="font-size: 1.3rem;"
                    name="envelope"
                    slot="prefix"
                ></sl-icon>
            </sl-input>
            <small id="error-email" hidden></small>
        </div>

        <div>
            <sl-input
                id="password"
                name="password"
                label="Пароль*"
                type="password"
                placeholder="Введіть ваш пароль"
                password-toggle
            >
                <sl-icon
                    class="font-size: 1.3rem;"
                    name="key"
                    slot="prefix"
                ></sl-icon>
            </sl-input>
            <small id="error-password" hidden></small>
        </div>

        <div>
            <sl-input
                id="password-confirm"
                name="passwordConfirm"
                label="Повторіть пароль*"
                type="password"
                placeholder="Повторіть пароль"
            >
                <sl-icon
                    class="font-size: 1.3rem;"
                    name="key"
                    slot="prefix"
                ></sl-icon>
            </sl-input>
            <small id="error-password-confirm" hidden></small>
        </div>

        <sl-checkbox
            id="rememberMe"
            name="rememberMe"
            help-text="Я погоджуюсь з умовами та правилами користування сайтом"
            data-required
            checked
        >
            Підтвердити правила користування
        </sl-checkbox>

        <sl-button variant="primary" type="submit">Зареєструватися</sl-button>
    </form>
    <div class="form-footer">
        <p>
            Вже маєте обліковий запис?
            <a href="/login" class="link"> Увійти </a>
        </p>
    </div>
</div>
