<div class="form-side">
    <div class="form-header">
        <h2>Реєстрація облікового запису</h2>
        <p>Будь ласка, введіть свої дані для реєстрації</p>
    </div>

    <form
        id="form"
        hx-post="/register"
        hx-target="this"
        hx-swap="none"
        hx-ext="ignore:json-enc-custom"
        class="login-form"
    >
        <input type="hidden" name="csrfToken" value="<%= csrfToken %>" />

        <div x-data="{ value: '' }">
            <sl-input
                id="username"
                @input="value = $event.target.value"
                name="username"
                label="Ім'я користувача*"
                placeholder="Введіть бажане ім'я"
            >
                <sl-icon name="person-bounding-box" slot="prefix"></sl-icon>
            </sl-input>
            <input name="username" :value="value" type="hidden" />
            <small id="error-username" hidden></small>
        </div>

        <div x-data="{ value: '' }">
            <sl-input
                id="email"
                @input="value = $event.target.value"
                label="Ел. Пошта*"
                placeholder="user@gmail.com"
            >
                <sl-icon name="envelope" slot="prefix"></sl-icon>
            </sl-input>
            <input name="email" :value="value" type="hidden" />
            <small id="error-email" hidden></small>
        </div>

        <div x-data="{ value: '' }">
            <sl-input
                id="password"
                @input="value = $event.target.value"
                label="Пароль*"
                type="password"
                placeholder="Введіть ваш пароль"
                password-toggle
            >
                <sl-icon name="key" slot="prefix"></sl-icon>
            </sl-input>
            <input name="password" :value="value" type="hidden" />
            <small id="error-password" hidden></small>
        </div>

        <div x-data="{ value: '' }">
            <sl-input
                id="password-confirm"
                @input="value = $event.target.value"
                label="Повторіть пароль*"
                type="password"
                placeholder="Повторіть пароль"
            >
                <sl-icon name="key" slot="prefix"></sl-icon>
            </sl-input>
            <input name="passwordConfirm" :value="value" type="hidden" />
            <small id="error-password-confirm" hidden></small>
        </div>

        <sl-checkbox
            id="rememberMe"
            name="rememberMe"
            help-text="Я погоджуюсь з умовами та правилами користування сайтом"
            data-required
            checked
        >
            Підтвердити правила користування
        </sl-checkbox>

        <sl-button variant="primary" type="submit">Зареєструватися</sl-button>
    </form>
    <div class="form-footer">
        <p>
            Вже маєте обліковий запис?
            <a href="/login" class="link"> Увійти </a>
        </p>
    </div>
</div>
